body { 
    padding-top: 70px; 
    padding-bottom: 70px;
}

.col-md-10 {
    padding-left: 0px;
    padding-right: 0px;
}

#myApp {
    width: 1500px;
    height: 720px;
}

.bubble {
    height: 220px;
    width: 220px;
    box-shadow: 10px 10px 5px #888888;
}

.titles {
    text-align: center;
}
#descr {
    width : 800px;
}
